<div class="signin-page">
  <div class="signin-content">
    <form class="signin-form needs-validation" action="/admin/signin" method="POST" novalidate>
      <div class="mb-4">
        <img src="/images/z-high-resolution-logo-transparent.png" class="login-img" alt="icon">
        <h3>Admin</h3>
      </div>
      {{> login}}

      <button type="submit">Login</button>
    </form>
    <div class="d-flex flex-row justify-content-end login-footer">
      <p class="message"><a href="/signin">User Login</a></p>
    </div>
  </div>
</div>