<div class="row d-flex justify-content-center" style="text-align: top;">
  <div class="card border-light px-0 sign-in" style="width: 400px; border-radius:26px">

    <div class="card-body ">
      <div class="mb-4 text-center">
        <img src="/image/z-high-resolution-logo-transparent.png" alt="icon" style="margin: 34px 0 24px 0" width="120" height="80">
        <h1 class="h3 font-weight-normal mb-3" style="margin: 0 0 40px 0;font-weight: bold;">後台登入</h1>
      </div>

      <form class="form-signin needs-validation" action="/admin/signin" method="POST" style="width: 100%;" novalidate>
        {{> login}}

        <button type="submit" class="btn btn-default dark-btn" style="padding: 8px 24px;width: 356px;border: 0;display: flex;flex-direction: column;
      justify-content: center;
      align-items: center;border-radius: 50px;">登入</button>
      </form>

      <div class="d-flex flex-row justify-content-end mx-3 my-3">
        <p><a href="/signin" style="text-decoration: none;">前台登入</a></p>
      </div>

    </div>
  </div>
</div>