<input type="text" class="form-control" id="account" name="account" placeholder="Account" required />
<div class="valid-feedback"></div>
<div class="invalid-feedback" style="text-align:end;  margin:0 auto 10px auto;">Please enter your account</div>

<input type="text" class="form-control" id="name" name="name" placeholder="Name" required />
<div class="valid-feedback"></div>
<div class="invalid-feedback" style="text-align:end;  margin:0 auto 10px auto;">Please enter your name</div>

<input type="text" class="form-control" id="email" name="email" placeholder="Email address" required />
<div class="valid-feedback"></div>
<div class="invalid-feedback" style="text-align:end;  margin:0 auto 10px auto;">Please enter your email</div>

<input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
<div class="valid-feedback"></div>
<div class="invalid-feedback" style="text-align:end;  margin:0 auto 10px auto;">Please enter your password</div>

<input type="password" class="form-control" id="checkPassword" name="checkPassword" placeholder="Confirm password"
  required />
<div class="valid-feedback"></div>
<div class="invalid-feedback" style="text-align:end;  margin:0 auto 10px auto;">Please enter your password again</div>