<input type="text" id="signIn-account" name="account" class="form-control login-input" placeholder="Account" required />
<div class="valid-feedback"></div>
<div class="invalid-feedback" style="text-align:end; margin:0 auto 10px auto;">Please enter your account</div>

<input type="password" id="signIn-password" name="password" class="form-control login-input" placeholder="Password" required />
<div class="valid-feedback"></div>
<div class="invalid-feedback" style="text-align:end;  margin:0 auto 10px auto;">Please enter your password</div>