<div class="form-row form-title-div" style="width: 350px; margin: 0 0 35px 0">
  <label class="form-label m-0 label-text" for="account" style="padding: 0 10.55px; font-size:14px;">帳號</label>
  <input type="text" id="account" name="account" class="form-control m-0 login-input" placeholder="請輸入帳號" style="padding: 3px 10.55px; font-size:16px;" required>
  <div class="valid-feedback"></div>
  <div class="invalid-feedback" style="padding-left: 10.55px;">請輸入帳號</div>
</div>


<div class="form-row form-title-div" style="width: 350px; margin: 0 0 35px 0">
  <label class="form-label m-0 label-text" for="password" style="padding: 0 10.55px; font-size:14px;">密碼</label>
  <input type="password" id="password" name="password" class="form-control m-0 login-input" placeholder="請輸入密碼" style="padding: 3px 10.55px; font-size:16px;" required>
  <div class="valid-feedback"></div>
  <div class="invalid-feedback" style="padding-left: 10.55px;">請輸入密碼</div>
</div>