<div class="modal fade" id="postTweet" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 634px; border-radius: 14px;  margin-left: -138px; margin-top: 58px">
      <div class="modal-header" style="position: relative; height: 50px;">
        <button type="button" class="btn btn-default m-3" data-bs-dismiss="modal" aria-label="Close"
          style="position: absolute; left: 0;">
          <i class="fa-solid fa-xmark fa-lg" style="color: #130912;"></i>
        </button>
      </div>
      <div class="modal-body" id="post-scroll">
        <form action="/tweets" class="needs-validation post-form" method="POST"  style="position: relative;" enctype="multipart/form-data" novalidate>
          <div class="form d-flex">
            <img src="{{currentUser.avatar}}" class="rounded-circle" title="source: imgur.com" style="width: 50px;height: 50px;" />
            <label for="description">
              <textarea name="description" id="description" cols="60" rows="4"
                style="outline:none; border:none; box-shadow:none; margin-top:10px; margin-left:5px" maxlength="140"
                required placeholder="有什麼新鮮事？"></textarea>

                <div class="invalid-feedback"
                  style="position:absolute; right: 100px; bottom: 3px;font-size:15px; width:90px; color:#FC5A5A;">
                  內容不可空白
                </div>
                <div id="postFeedback"
                  style="position:absolute; right: 100px; bottom: 3px;font-size:15px; width:140px; color:#FC5A5A;"></div>
            </label>
          </div>
          {{!-- img --}}
          <div id="post-img-div" style="max-width: 500px; max-height:500px; margin-top: 15px; margin-left: 46px;  display: none;">
            <div style="position:relative; display: inline-block; text-align: center;">
              <img src="" class="img-thumbnail"
                style="border-radius:16px; max-width: 100%; max-height: 500px; height: 100%; object-fit: cover;" alt="post-image" id="tweet-img"/>
              <button type="button" class="btn-close" id="image-del"
                style="position: absolute; right:10px; top: 10px; background-color:#fff"></button>
            </div>
          </div>

          <div class="modal-bottom border-top" style="margin-top:40px; height:50px; position: relative;">
            <div>
              <label for="image-add" class="btn image-uploader">
                <input class="d-none" type="file" id="image-add" name="image" accept="image/*"
                  onchange="previewTweetImage('tweet-img', this)">
                <i class="fa-regular fa-image fa-lg" style="color: #222; position:absolute; left: 60px; bottom:15px;"></i>
              </label>
            </div>
            <div>
              <button type="submit" class="btn btn-default dark-btn "
                style="border-radius: 23px; width: 64px; height: 40px; position:absolute; right: 20px; bottom:-5px; font-weight: 600;">Post</button>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
