@media screen and (min-width: 1501px) {
  #right-bar {
    position: fixed;
    left: 70%;
  }

  #left-bar {
    width: 178px;
    position: fixed;
    margin-left: 40px;
    background-color: #fff;
    border-radius: 16px;
  }

  .row .admin-middle-div{
    width: 840px;
    margin: 0 0 0 327px;
  }

  .row .middle-div{
    max-width: 639px;
    margin-left: 278px;
  }

  #menu {
    display: none;
    height: 54.8px;
    width: 54.8px;
    border-radius: 5px;
    padding: 13.5px 0 0;
    background-color: rgba(34, 34, 34, 0.95);
  }

  #post-modal-content {
    width: 634px;
    border-radius: 14px;
    margin-left: -138px;
    margin-top: 58px;
  }
}

@media screen and (min-width: 1234px) and (max-width: 1500px) {
  #right-bar {
    position: fixed;
    right: 5%
  }

  #left-bar {
    width: 178px;
    position: fixed;
    margin-left: 40px;
    background-color: #fff;
    border-radius: 16px;
  }

  .row .middle-div{
    max-width: 639px;
    margin-left: 278px;
  }

  .row .admin-middle-div{
    width: 840px;
    margin: 0 0 0 327px;
  }

  #menu {
    display: none;
    height: 54.8px;
    width: 54.8px;
    border-radius: 5px;
    padding: 13.5px 0 0;
    background-color: rgba(34, 34, 34, 0.95);
  }
  #post-modal-content {
    width: 634px;
    border-radius: 14px;
    margin-left: -138px;
    margin-top: 58px;
  }
}

@media screen and (max-width: 1233px) {
  #right-bar {
    display: none;
  }

  #left-bar {
    width: 178px;
    position: fixed;
    margin-left: 40px;
    background-color: #fff;
    border-radius: 16px;
  }

  .row .middle-div{
    max-width: 639px;
    margin-left: 278px;
  }

  .row .admin-middle-div{
    width: 840px;
    margin: 0 0 0 327px;
  }
  
  #menu {
    display: none;
    height: 54.8px;
    width: 54.8px;
    border-radius: 5px;
    padding: 13.5px 0 0;
    background-color: rgba(34, 34, 34, 0.95);
  }

  #post-modal-content {
    width: 634px;
    border-radius: 14px;
    margin-left: -138px;
    margin-top: 58px;
  }
}

@media screen and (max-width: 768px) {
  #left-bar {
    display: none;
  }

  #admin-left-bar{
    display: none;
  }
  
  .row .middle-div{
    max-width: 639px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .row .admin-middle-div{
    width: 840px;
    margin: 0;
    padding-left: 0px;
  }

  .container .row {
    flex-wrap: nowrap;
  }

  .row #menu {
    display: inline-block;
    height: 54.8px;
    width: 54.8px;
    border-radius: 5px;
    padding: 13.5px 0 0;
    background-color: rgba(34, 34, 34, 0.95);
  }

  #post-modal-content {
    width: 634px;
    border-radius: 14px;
    margin: 60px auto 0 -60px;
  }

  .modal-dialog .modal-body{
    flex-wrap: wrap;
  }
}

.body {
  background-color: #fff;
}

/* color */
.dark {
  color: #222;
}

.gray {
  color: #8c8c8c;
}

.gray:hover, .gray:active, .gray:focus {
  color: #222
}

.btn.dark-btn{
  background-color: #222;
  color: #fff;
}

.btn.dark-btn:hover, .btn.dark-btn:active, .btn.dark-btn:focus {
  border: 2px solid #222;
  color: #222;
  background: #f3f3f3;
}

.btn.btn-outline-light {
  border-color: #222;
  color:#222;
}

.btn.btn-outline-light:hover, .btn.btn-outline-light:active, .btn.btn-outline-light:focus {
  background-color: #222;
  color: #fff;
}

.right-bar-div, .list-group-item.right-li {
  background-color: #F2F1F1;
}

.navbar.tweets-nav{
  background-color:rgba(34, 34, 34, 0.9);
}

.name-text, .desc-text, .dark-text {
  color: #171725;
}

.account-text, .count-text, .gray-text {
  color: #6C757D;
}

.label-text {
  color:#696974;
}

.fa-regular.fa-heart:hover, .fa-regular.fa-heart:active, .fa-regular.fa-heart:focus {
  color: #e84545;
}

.fa-regular.fa-trash-can:hover, .fa-regular.fa-trash-can:active, .fa-regular.fa-trash-can:focus {
  color: #e84545;
}

.fa-regular.fa-message:hover, .fa-regular.fa-message:active, .fa-regular.fa-message:focus {
  color: #4CAF50;
}

#menu:hover, #menu:active,#menu:focus {
  background: #000000;
}

/* color */

/* scroll */
#tweets-scroll {
  height: 600px;
  overflow-y: auto;
}

#tweet-scroll {
  height: 300px;
  overflow-y: auto;
}

#post-scroll {
  max-height: 500px;
  overflow-y: auto;
}

.user-scroll {
  max-height: 660px;
  overflow-y: auto;
}

#recommend-scroll {
  max-height: 600px;
  overflow-y: auto;
  border-radius: 16px;
}
/* scroll */

/* login page */
.signin-page {
  width: 480px;
  padding: 8% 0 0;
  margin: auto;
}

.signup-page {
  width: 480px;
  padding: 3% 0 0;
  margin: auto;
}

.signin-content {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 480px;
  margin: 0 auto 100px;
  padding: 45px 45px 0 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.signin-content input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.signin-content button {
  text-transform: uppercase;
  outline: 0;
  background: #222;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.signin-content button:hover,.form button:active,.form button:focus {
  background: #000000;
}

.signin-content .message {
  color: #b3b3b3;
  font-size: 16px;
}

.signin-content .message a {
  color: #4CAF50;
  text-decoration: none;
}

.signin-content .login-footer{
  border-top: 1px solid #dce8f1;
  padding: 5px;
  text-align: center;
}

.signin-content h3 {
  margin-bottom: 20px;
  font-weight: bold;
}

.login-img {
  margin-bottom:14px;
  width:130px;
  height:80;
}
/* login page */

/* setting */
.setting-title {
  background-color:#F5F8FA;
}

.form-control.setting-input, .form-control.login-input, .form-control.account-form-input {
  border: none;
  outline: none;
  border-bottom:2px solid #657786;
  background-color:#F5F8FA;
}
/* setting */