<div class="signin-page">
  <div class="signin-content">
    <form class="signin-form needs-validation" action="/signin" method="POST" novalidate>
      <div class="mb-4">
        <img src="/images/z-high-resolution-logo-transparent.png" class="login-img" alt="icon">
        <h3>Sign in</h3>
      </div>
      {{> login}}
      <button type="submit">Login</button>
    </form>
    <div class="d-flex flex-row justify-content-end mt-2">
      <p class="message">Not registered? <a href="/signup">Create an account</a></p>
    </div>
    <div class="d-flex flex-row justify-content-end login-footer">
      <p class="message"><a href="/admin/signin">Admin Login</a></p>
    </div>
  </div>
</div>