<div class="signup-page">
  <div class="signin-content">
    <form class="signup-form needs-validation" action="/signup" method="POST" novalidate>
    <div class="mb-4">
      <img src="/images/z-high-resolution-logo-transparent.png" class="login-img" alt="icon">
      <h3>Sign up</h3>
    </div>
    {{> account-form}}
    <button type="submit">create</button>
    <div class="d-flex flex-row justify-content-end mt-2">
      <p class="message">Already registered? <a href="/signin">Sign In</a></p>
      </div>
    </form>